.top{
	height:68px;
	overflow:hidden;
	display: flex;
}
.motiv{
	color: #241e1f;
	font-size: 40px;
	margin: auto;
	margin-right: 10px;
}
.header{
  width: 100%;
	height: 44px;
	display: flex;
}
.navlink{
	margin: 20px;
	color: #241e1f;
	text-decoration: none;
	font-size: 28px;
	position: relative;
	transition: 0.4s ease-in-out;
}
.alert {
  padding: 20px;
  background-color: green; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.navlink:hover::after, .navlink:hover::before{width:100%;left:0;}
.navlink::after, .navlink::before{content:'';position:absolute;top:calc(100% + 5px);width:0;right:0;height:3px;}
.navlink::before{-webkit-transition:width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;-o-transition:width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;transition:width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;background:#845EC2;}
.navlink::after{-webkit-transition:width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);-o-transition:width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);transition:width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);background:#2FFFAD;}
.navlink.active:after{background:#2FFFAD;width:100%;left:0;}
.navlink.active:before{z-index:2;}}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

// Pattern styles
.container {
  display: table;
  height: 100%;
  width: 100%;
}

.hi {
  display: table-cell;
  vertical-align: top;
  width: 45%;
  padding: 1rem;
  height: 100%;
  overflow:auto;
}
*:focus{
outline:none;
}
.box {
  position: relative;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}

.box select {
  background-color: #685b86;
  color: #fae1cb;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}
.myButton {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #fae1cb 5%, #dfdfdf 100%);
  background-color:#ededed;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#242424;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #fae1cb 100%);
  background-color:#dfdfdf;
}
.myButton:active {
  position:relative;
  top:1px;
}
